<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/allTests.css">
    <title>All Tests</title>
</head>

<body>
    <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="top-nav">
                <div class="row">

                    <div class="categories">
                        <a href="/users/materials?category=Manage Stress">Manage Stress</a>
                        <a href="/users/materials?category=Connected">Connected</a>
                        <a href="/users/materials?category=Relaxation">Relaxation</a>
                        <a href="/users/materials?category=Mindfulness">Mindfulness</a>
                        <a href="/users/materials?category=Sleep">Sleep</a>
                    </div>
                    <div class="span-opener"><i class="fa fa-align-justify"></i>
                        <div class="pane" id="pane">
                            <p><a href="/users/materials?category=Manage Stress">Manage Stress</a></p>
                            <p><a href="/users/materials?category=Connected">Connected</a></p>
                            <p><a href="/users/materials?category=Relaxation">Relaxation</a></p>
                            <p><a href="/users/materials?category=Mindfulness">Mindfulness</a></p>
                            <p><a href="/users/materials?category=Sleep">Sleep</a></p>
                        </div>
                    </div>

                    <div class="search-area">
                        <form action="/admin/search-test" id="search-form" method="GET">
                            <input type="hidden" id="search-input" name="searchInput">
                        </form>
                        <input type="text" id="search">
                        <i class="fa fa-search" id="search-btn"></i>
                    </div>
                </div>
            </div>



            <div class="all-tests-space">
                <% if (errorMessage.length != 0) { %>
                    <div class="alert alert-danger">
                        <%=errorMessage%>
                    </div>
                    <% } %>
                        <div class="first-three">
                            <% for (let i=0; i<3; i++) { %>
                                <div class="each-post">
                                    <div class="image">
                                        <img src="<%= data[i].thumbnail %>" alt="">
                                    </div>
                                    <div class="texts">
                                        <div class="category">
                                            <%= data[i].category %>
                                        </div>
                                        <div class="title">
                                            <a href="/users/single-material/<%= data[i]._id %>">
                                                <%= data[i].title %>
                                            </a>
                                        </div>
                                        <div class="additional-info">
                                            <span style="font-weight: bolder;">Admin</span>
                                            <span>12 Questions - 8 Minutes</span>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <hr>
                        <div class="lower-posts">
                            <div class="left">
                                <% for (let i=3; i<data.length; i++) { %>
                                    <div class="each-posts">
                                        <div class="image">
                                            <img src="<%= data[i].thumbnail %>" alt="">
                                        </div>
                                        <div class="texts">
                                            <div class="category">
                                                <%= data[i].category %>
                                            </div>
                                            <div class="title">
                                                <a href="/users/single-material/<%= data[i]._id %>">
                                                    <%= data[i].title %>
                                                </a>
                                            </div>
                                            <div class="about">
                                                <%- data[i].body %>
                                            </div>
                                            <div class="additional-info">
                                                <span>Admin</span>
                                                <span>12 Questions - 8 Minutes</span>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="right">
                                <div class="right-posts">
                                    <div class="heading">People also take</div>
                                    <% for (let i=0; i<3; i++) { %>
                                        <div class="each-posts">
                                            <div class="image">
                                                <img src="https://i.kinja-img.com/gawker-media/image/upload/c_scale,f_auto,fl_progressive,q_80,w_1600/xkvwp2fslqasirabshfm.jpg" alt="">
                                            </div>
                                            <div class="texts">
                                                <div class="category">Category</div>
                                                <div class="title"><a href="/app-admin/single-test">A rather short title</a></div>
                                                <div class="additional-info">
                                                    <span>Admin</span>
                                                    <span>12 Questions - 8 Minutes</span>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</body>
<script>
    let isOpen = false
    $('.span-opener').click((e) => {
        if (!isOpen) {
            $('#pane').fadeIn()
            $('.span-opener i').toggleClass('rotate')
            isOpen = true
        } else {
            $('#pane').fadeOut()
            $('.span-opener i').toggleClass('rotate')
            isOpen = false
        }
    })

    $('#search-btn').click((e) => {
        const search = $('#search').val()
        if (search.length != 0) {

            $('#search-input').val(search)
            console.log($('#search-input').val())
            $('#search-form').submit()
        }
    })
    $('#new-test-btn').click((e) => {
        location = '/app-admin/create-test'
    })
</script>

</html>