<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="LuUbpi9-Cq3fTlZ_VvFX3Grbw_8KOnYweFsVWqmuIn0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/Responsive-Auto-Carousel-Plugin-With-jQuery-My-Slider/dist/css/my-slider.css">
    <link rel="stylesheet" href="/css/post_details.css">
    <script data-ad-client="ca-pub-1358296104373169" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Resources - Moner Shastho</title>
</head>

<body>
    <input type="hidden" value="<%= welcome %>" id="loggedIn">

    <div class="pageWrapper">
        
        <div class="contentWrapper">
            <div class="search-box">
                <input type="text" id="search" placeholder="Type keywords and press enter to search">
            </div>
            <div class="all-posts">
                <div class="higher-posts">
                    <div class="slider first-post">
                        <% for (let i=0; i<3; i++) { %>
                            <div class="each-post">
                                <div class="image">
                                    <img src="<%= data[i].thumbnail %>" alt="">
                                </div>
                                <div class="texts">
                                    <div class="category"><a href="#">CATEGORY</a></div>
                                    <div class="title">
                                        <a href="/users/view/<%= data[i]._id %>">
                                            <%= data[i].title %>
                                        </a>
                                    </div>
                                    <div class="body">
                                        <%- data[i].body %>
                                    </div>
                                    <div class="add-info">
                                        <span><i class="fa fa-user"></i><strong><%= data[i].author %></strong></span>
                                        <span><%= data[i].date %></span>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="next-three">
                        <% for (let i=4; i<7; i++) { %>
                            <div class="each-post">
                                <div class="image">
                                    <img src="<%= data[i].thumbnail %>" alt="">
                                </div>
                                <div class="texts">
                                    <div class="category"><a href="#">CATEGORY</a></div>
                                    <div class="title">
                                        <a href="/users/view/<%=data[i]._id%>">
                                            <%= data[i].title %>
                                        </a>
                                    </div>
                                    <div class="body">
                                        <%- data[i].body %>
                                    </div>
                                    <div class="add-info">
                                        <i class="fa fa-user"></i><strong><%= data[i].author %></strong> &#8226
                                        <%= data[i].date %>
                                    </div>
                                </div>

                            </div>
                            <% } %>
                    </div>
                </div>
                <hr>
                <div class="lower-posts">
                    <div class="left">
                        <% for (let i=7; i<data.length; i++) { %>
                            <div class="each-post">
                                <div class="texts">
                                    <div class="category"><a href="#">CATEGORY</a></div>
                                    <div class="title">
                                        <a href="/users/view/<%=data[i]._id%>">
                                            <%= data[i].title %>
                                        </a>
                                    </div>
                                    <div class="body">
                                        <%- data[i].body %>
                                    </div>
                                    <div class="add-info">
                                        <i class="fa fa-user"></i><strong><%= data[i].author %></strong> &#8226
                                        <%= data[i].date %>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="<%= data[i].thumbnail %>" alt="">
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="right">
                        <div class="heading">Trending</div>
                        <% for (let i=0; i<trending.length; i++) { %>
                            <div class="each-post">
                                <div class="title">
                                    <a href="/users/view/<%=trending[i]._id%>">
                                        <%= trending[i].title %>
                                    </a>
                                </div>
                                <div class="body">
                                    <%- trending[i].body %>
                                </div>
                                <div class="add-info">
                                    <span><i class="fa fa-user"></i><strong><%= trending[i].author %></strong></span>
                                    <span><%= trending[i].date %></span>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 25px;">
                <div class="modal-body" style="display: flex; justify-content: space-between; ">
                    <div class="texts" style="color: #000;">
                        <strong style="font-weight: bolder;">Hussain</strong>, how's it going?
                    </div>
                    <div class="image" style="width: 10%;">
                        <img style="width: 100%; border-radius: 50%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="/js/my-slider.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    if ($(window).width() < 650) {
        $('.slider').removeClass('slider')
    }
    $('.slider').slider({
        'autoPlay': true,
        'interval': 4000,
        'controls': false,
        'topBar': false
    })
</script>
<script>
    console.log($('#loggedIn').val())
    if ($('#loggedIn').val() == 'true') {
        $('#loggedIn').val('false')
            // $('#staticBackdrop').modal('show')
    }

    $('#search').keypress(e => {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            const phrase = e.target.value
            if (phrase) {
                console.log(phrase)
                location = `/users/resources/search?q=${phrase}`
            }
    }
});
</script>

</html>