<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Moner Shasthyo - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" rel="stylesheet"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

  <% if (errorMessage.length != 0) { %>
    <script >
      const msg = <%- JSON.stringify(errorMessage) %>
      M.toast({html: msg})
    </script>
  <% } %>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center big" >Moner Shasthyo</h1>
        <div class="row center">
          <h5 class="header col s12 light">Your daily mental health assistant during corona pandemic.</h5>
        </div>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://wallpapercave.com/wp/wp2833173.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <% if (user) { %>
    <p class="wel" >
      Welcome back, <%= user.name %>
    </p>
  <% } else { %>
    <p style="text-align: center;">
      <button id="reg-btn">Join us</button>
    </p>
  <% } %>

  <div class="about">
    <p class="header">About Us</p>
    <br>
    <p class="body">
      The coronavirus disease 2019 (COVID-19) pandemic may be stressful for people. Dealing with
day to day mental health issue we bring (App/Service Name) to you, a complete mental health
assistant during lockdown. You can assess your mental health issues, take necessary precautions,
connect with professionals, perform daily refreshing activities and many more by using
(App/Service Name). You can also get mental health tips and articles, learn meditation skills,
take assessment tests and maintain a task schedule which helps you to stay mentally fit during

this pandemic situation.
    </p>
    <div class="view-more">
      <div class=""></div>
      <div class="">
          <p><button id="mat-btn">Learn More</button></p>
      </div>
  </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="parallax-texts">
      <p class="head">Practice our Materials</p>
      <p class="sub-head">You will get related materials in this sections which helps you to learn more about mental health and hygiene.</p>
    </div>
<div class="parallax"><img src="/images/todo-wallpaper.jpg" alt="Unsplashed background img 2"></div>
</div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <!-- <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div> -->
      
      <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="sect-3">
        
        <div class="posts">
            <div class="first-post">
                <div class="image">
                    <img src="<%= materials[0].thumbnail %>" alt="">
                </div>
                <div class="texts">
                    <div class="category">
                        <%= materials[0].category %>
                    </div>
                    <div class="title">
                        <% let mtitle = materials[0].title
                                if (mtitle.length > 30) {
                                    mtitle = mtitle.substring(0, 30)
                                }
                            %>
                            <a href="/users/single-material/<%= materials[0]._id %>">
                                <%= mtitle %>
                            </a>
                    </div>
                    <div class="add-info">
                        Admin &#8226
                        <%= materials[0].date %>
                    </div>
                </div>
            </div>
            <div class="other-post">
                <% for (let i=1; i<materials.length; i++) { %>
                    <div class="each-post">
                        <div class="image">
                            <img src="<%= materials[i].thumbnail %>" alt="">
                        </div>
                        <div class="texts">
                            <div class="category">
                                <%= materials[i].category %>
                            </div>
                            <% let title = materials[i].title
                                if (title.length > 30) {
                                    title = title.substring(0, 30)
                                }
                            %>
                                <div class="title">
                                    <a href="/users/single-material/<%= materials[i]._id %>">
                                        <%= title %>
                                    </a>
                                </div>
                                <div class="body">
                                    <%- materials[i].body %>
                                </div>
                                <div class="add-info">Admin &#8226
                                    <%= materials[i].date %>
                                </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="view-more">
            <div class=""></div>
            <div class="">
                <p><button id="mat-btn">View All Materials</button></p>
            </div>
        </div>
    </div> 
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
      <div class="parallax-texts">
        <p class="head">Take a test</p>
        <p class="sub-head">Take one of our tests to have an insight into your mental health. They come for all ages.</p>
      </div>
    <div class="parallax"><img src="https://s.abcnews.com/images/US/GTY_standardized_test_form_jt_150601_16x9_992.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <!-- <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div> -->

  <div class="pageWrapper">
    <div class="contentWrapper">
      <div class="sect-4">
        <!-- <div class="heading">
            <p>Take a test</p>
        </div>
        <div class="sub-heading">
            <p></p>
        </div> -->
        <div class="tests">
            <% for (let i=0; i<tests.length; i++) { %>
                <div class="each-test">
                    <div class="image">
                        <img src="<%= tests[i].thumbnail %>" alt="">
                    </div>
                    <div class="texts">
                        <div class="category">
                            <%= tests[i].category %>
                        </div>
                        <% let ttitle = tests[i].title
                                if (ttitle.length > 30) {
                                    ttitle = ttitle.substring(0, 30)
                                }
                            %>
                            <div class="title">
                                <a href="/app-admin/single-test/<%= tests[i]._id %>">
                                    <%= ttitle %>
                                </a>
                            </div>
                            <div class="body">
                                <%= tests[i].about %>
                            </div>
                            <div class="add-info">
                                <%= tests[i].questionSet.length %> Questions &#8226
                                    <%= tests[i].questionSet.length %> Minutes</div>
                            <p><button>Take</button></p>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="view-more">
            <div class=""></div>
            <div class="">
                <p><button id="test-btn">View All Tests</button></p>
            </div>
        </div>
    </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
      <div class="parallax-texts">
        <p class="head">Read our resources</p>
        <p class="sub-head">All of our resources are being found in here. Discussion about various mental health related
          issues and different types of mental health problem.</p>
      </div>
    <div class="parallax"><img src="https://image.freepik.com/free-photo/book-library-room_36325-102.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <!-- <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer> -->

  <div class="pageWrapper">
    <div class="contentWrapper">
      <div class="sect-5">
                <div class="posts">

                    <div class="other-post">
                        <% for (let i=0; i<2; i++) { %>
                            <div class="each-post">
                                <div class="image">
                                    <img src="<%= resources[i].thumbnail %>" alt="">
                                </div>
                                <div class="texts">
                                    <div class="category">
                                        <%= resources[i].category%>
                                    </div>
                                    <% let title = resources[i].title
                                        if (title.length > 30) {
                                            title = title.substring(0, 30)
                                        }
                                    %>
                                        <div class="title">
                                            <a href="/users/view/<%= resources[i]._id %>">
                                                <%= title %>
                                            </a>
                                        </div>
                                        <div class="body">
                                            <%- resources[i].body %>
                                        </div>
                                        <div class="add-info">
                                            <%= resources[i].author %> &#8226
                                                <%= resources[i].date %>
                                        </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="first-post">
                        <div class="image">
                            <img src="<%= resources[2].thumbnail %>" alt="">
                        </div>
                        <div class="texts">
                            <div class="category">
                                <%= resources[2].category %>
                            </div>
                            <% let title = resources[2].title
                                        if (title.length > 30) {
                                            title = title.substring(0, 30)
                                        }
                                    %>
                                <div class="title">
                                    <a href="/users/view/<%= resources[2]._id %>">
                                        <%= title %>
                                    </a>
                                </div>
                                <div class="add-info">
                                    <%= resources[2].author %> &#8226
                                        <%= resources[2].date %>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="view-more">
                    <div class=""></div>
                    <div class="">
                        <p><button id="res-btn">View All Resources</button></p>
                    </div>
                </div>
            </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <p style="text-align: center;">
          <h4>Take a test</h4>
        </p>
      </div>
    </div>
    <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <!--  Scripts-->
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script>
    $('#reg-btn').click((e) => {
        location = '/admin/login'
    })
    $('#mat-btn').click((e) => {
        location = '/users/materials'
    })
    $('#test-btn').click((e) => {
        location = '/app-admin/all-tests'
    })
    $('#res-btn').click((e) => {
        location = '/users/blogs'
    })
</script>
  </body>
</html>
