<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/post_details.css">
    <title>Home - CoronaApp</title>
</head>

<body>
    <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="all-posts">
                <div class="first-three">
                    <% for (let i=0; i<3; i++) { %>
                        <div class="each-post">
                            <div class="image">
                                <img src="<%= data[i].thumbnail %>" alt="">
                            </div>
                            <div class="texts">
                                <div class="title">
                                    <a href="/users/view/<%=data[i]._id%>">
                                        <%= data[i].title %>
                                    </a>
                                </div>
                                <div class="body">
                                    <%- data[i].body %>
                                </div>
                                <div class="add-info">
                                    <span><i class="fa fa-user"></i><strong><%= data[i].author %></strong></span>
                                    <span><%= data[i].date %></span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <hr>
                <div class="lower-posts">
                    <div class="left">
                        <% for (let i=3; i<data.length; i++) { %>
                            <div class="each-post">
                                <div class="texts">
                                    <div class="title">
                                        <a href="/users/view/<%=data[i]._id%>">
                                            <%= data[i].title %>
                                        </a>
                                    </div>
                                    <div class="body">
                                        <%- data[i].body %>
                                    </div>
                                    <div class="add-info">
                                        <i class="fa fa-user"></i><strong><%= data[i].author %></strong> -
                                        <%= data[i].date %>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="<%= data[i].thumbnail %>" alt="">
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="right">
                        <div class="heading">Trending</div>
                        <% for (let i=0; i<trending.length; i++) { %>
                            <div class="each-post">
                                <div class="title">
                                    <a href="/users/view/<%=trending[i]._id%>">
                                        <%= trending[i].title %>
                                    </a>
                                </div>
                                <div class="body">
                                    <%- trending[i].body %>
                                </div>
                                <div class="add-info">
                                    <span><i class="fa fa-user"></i><strong><%= trending[i].author %></strong></span>
                                    <span><%= trending[i].date %></span>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>