<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <% if(!user.emailVerified){ %>
    <div class="alert alert-warning" role="alert">
     <%=user.email %> Verify your emai
    </div>
    <%} %>
  <% posts.forEach(function(posts){ %>
  <section class="allPost">
    <div class="eachPost">
      <div class="firstRow-group">
        <div class="author-img">
          <img class="img" src="https://robohash.org/<%=posts._id%>">
        </div>
        <div class="other-than-img" style="width: 100%">
          <div class="firstRow">
            <div class="right-side">
              <div class="title">
                <p> <%= posts.title %></p>
              </div>
            </div>
            <div class="twoButton">
              <a href="/users/<%= posts._id %>" name="view-post" id="<%= posts._id %>" class="badge badge-info">View
                Post</a>
            </div>
          </div>
          <div class="dateRow">
            <p><i class="fas fa-user"></i><strong><%= posts.author_username %></strong></p>
            <p>· <%= posts.date %></p>
          </div>
          <div class="iconRow">
            <i title="Contains multilayered texts" class="fas fa-align-left"></i>
            <i title="Contains code segments" id="code" class="fas fa-code"></i>
            <i class="fas fa-file-contract"></i>
          </div>
        </div>
      </div>
      <div class="secondRow">
        <p><%= posts.body %></p>
      </div>
      <hr>
      <div class="thirdRow">
        <div class="views">
          <p>Views <%= posts.view %></p>
        </div>
        <div class="upvotes">
          <p>· Upvotes <%= posts.upvote %></p>
        </div>
        <div class="comments">
          <p>· Comments <%= posts.comment %></p>
        </div>
      </div>
    </div>
  </section>
  <% }) %>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" id="modal-fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create Blog</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="form-submit" action="/users/post" method="POST">
          <input type="text" name="title_name" id="title" placeholder="Title"><br><br>
          <textarea rows="4" class="area1" name="body_name" cols="50" id="text-body"
            placeholder="It's a fine day!"></textarea>
          <script>
            CKEDITOR.replace('text-body');
            console.log('replaced');
          </script>
          <div class="modal-footer">
            <button type="button" class="btn btn-info">More Options</button>
            <a href="#"> <button type="submit" class="btn btn-info">Post</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Read more window -->
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal-Center" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="add-comment-btn">Add comment</button> <br>

          <div id="comment-area">
            <form id="comment-form" method="POST" action="/comment">
              <input name="myComment" type="text" id="comment-box">
              <button type="submit" class="btn btn-primary" id="post-comment-btn">Post</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="allPost" id="display"> </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="../ckeditor/ckeditor.js"></script>
  <script>
    $(document).ready(() => {

    });
  </script>

</body>

</html>