<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>

<body>
    <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="primary-dashboard">
                <div class="left">
                    <div class="username">
                        <%= user.name %>
                    </div>
                    <div class="name">
                        <%= user.email %>
                    </div>
                    <button class="edit" id="edit-btn">Update</button>
                </div>
                <div class="right">
                    <div class="balance"></div>
                    <div class="image">
                        <label for="update-img">
                            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p280x280/97277716_239301293831022_6040842150017499136_n.jpg?_nc_cat=100&_nc_sid=b96e70&_nc_eui2=AeEe2LzQkNDYFOrLunk792mf1u4s5DCPhm7W7izkMI-GbnbOfEJm1RWow5XHmRGWM3J47NZknt8LrtfCBjeuy5OH&_nc_oc=AQmcq9cRMbLEpSnJMaBnAVMbSZmUr3Z-77nPmA9zHoYCH4qBRxg4iTbeP-PUr6zIW8o&_nc_ad=z-m&_nc_cid=0&_nc_zor=9&_nc_ht=scontent.xx&_nc_tp=6&oh=26053ab62533e1c9e50c40d03dc2ba5c&oe=5EE3AD45" alt="">
                        </label>
                        <input type="file" name="" id="update-img">
                    </div>
                </div>
            </div>

            <input type="hidden" value="<%= user._id %>" id="id">
            <canvas id="myChart" width="400" height="150"></canvas>
            <div class="tip">The scores are of the last 7 days arranged in descending, eg. 5th denotes 5 days earlier than today.
                <a href="#">Learn more</a>
            </div>

            <div class="all-info">
                <div class="nav">
                    <a href="#" id="1" class="tab active">Personal</a>
                    <a href="#" id="2" class="tab">Occupational</a>
                    <a href="#" id="3" class="tab">Materials Read</a>
                    <a href="#" id="4" class="tab">Tests Taken</a>
                    <a href="#" id="6" class="tab">Diary</a>
                </div>
                <div class="each-info" id="info-1">
                    <div class="header">Personal</div>
                    <div class="info-box">
                        <div class="single-fields">
                            <div class="field">Age</div>
                            <div class="field">Gender</div>
                            <div class="field">Marital Status</div>
                            <div class="field">Area of living</div>
                            <div class="field">Type of Residence</div>
                            <div class="field">Family Type</div>
                        </div>
                        <div class="single-values">
                            <div class="value">
                                <%= user.age %>
                            </div>
                            <div class="value">
                                <%= user.gender %>
                            </div>
                            <div class="value">
                                <%= user.maritalStatus %>
                            </div>
                            <div class="value">
                                <%= user.livingArea %>
                            </div>
                            <div class="value">
                                <%= user.residenceType %>
                            </div>
                            <div class="value">
                                <%= user.familyType %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="each-info" id="info-2" style="display: none;">
                    <div class="header">Occupational</div>
                    <div class="info-box">
                        <div class="single-fields">
                            <div class="field">Education</div>
                            <div class="field">Occupation</div>
                            <div class="field">Monthly Income</div>
                        </div>
                        <div class="single-values">
                            <div class="value">
                                <%= user.education %>
                            </div>
                            <div class="value">
                                <%= user.occupation %>
                            </div>
                            <div class="value">
                                <%= user.monthlyIncome %>!!</div>
                        </div>
                    </div>
                </div>

                <div class="each-info" id="info-3" style="display: none;">
                    <div class="header">Materials Read</div>
                    <!-- <div class="info-box">
                        <div class="single-fields">
                            <div class="field">Family history of mental illness</div>
                            <div class="field">Child Abuse</div>
                            <div class="field">Relationship Problem</div>
                            <div class="field">Personality Pattern </div>
                            <div class="field">Stressful Events</div>
                            <div class="field">Substance Abuse</div>
                            <div class="field">Diagnosed Mental Disorder</div>
                            <div class="field">Treatment History</div>
                        </div>
                        <div class="single-values">

                        </div>
                    </div> -->
                    <% for (let i=0; i<user.materialsRead.length; i++) { %>
                        <div class="info-box" style="flex-direction: column;">
                            <div class="title">
                                <%= user.materialsRead[i].name %>
                            </div>
                            <div class="add-info">
                                <%= user.materialsRead[i].score %> Points &#8226
                                    <%= user.materialsRead[i].date %>
                            </div>
                            <div class="lower">
                                <div class=""></div>
                                <div class="materialsRead">
                                    <button name="<%= user.materialsRead[i].id %>">Read Again</button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="each-info" id="info-4" style="display: none;">
                    <div class="header">Tests Taken</div>
                    <% for (let i=0; i<user.testsTaken.length; i++) { %>
                        <div class="info-box" style="flex-direction: column;">
                            <div class="title">
                                <%= user.testsTaken[i].name %>
                            </div>
                            <div class="add-info">
                                <%= user.testsTaken[i].score %> Points &#8226
                                    <%= user.testsTaken[i].date %>
                            </div>
                            <div class="lower">
                                <div class=""></div>
                                <div class="testsTaken">
                                    <button name="<%= user.testsTaken[i].id %>">Retake Test</button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>

                <div class="each-info" id="info-6" style="display: none;">

                    <div class="sub-nav">
                        <div class="sub-tab active" id="diary-sub-tab">Records</div>
                        <div class="sub-tab" id="stress-sub-tab">Stressors</div>
                    </div>

                    <div class="record-space" id="diary-records">
                        <div class="header">
                                <input type="text" placeholder="Type to filter records" id="filter">
                                <button data-target='#record-modal' data-toggle='modal'>Add Record</button>
                        </div>
                        <% for (let i=0; i<diary.records.length; i++) { %>
                            <div class="each-record">
                                <span><%= user.name.charAt(0).toUpperCase() %></span>
                                <div class="record">
                                    <% if (diary.records[i].situation != ''){ %>
                                        <h5>Situtation</h5>
                                        <p>
                                            <%= diary.records[i].situation %>
                                        </p>
                                    <% } %>

                                    <% if (diary.records[i].emotions != ''){ %>
                                        <h5>Emotions</h5>
                                        <p>
                                            <%= diary.records[i].emotions %>
                                        </p>
                                    <% } %>

                                    <% if (diary.records[i].thoughts != ''){ %>
                                        <h5>Thoughts</h5>
                                        <p>
                                            <%= diary.records[i].thoughts %>
                                        </p>
                                    <% } %>

                                    <% if (diary.records[i].reactions != ''){ %>
                                        <h5>Reactions</h5>
                                        <p>
                                            <%= diary.records[i].reactions %>
                                        </p>
                                    <% } %>

                                    <% if (diary.records[i].behaiviour != ''){ %>
                                        <h5>Behaiviour</h5>
                                        <p>
                                            <%= diary.records[i].behaiviour %>
                                        </p>
                                    <% } %>
                                    <span style="display: none;">
                                        <%= diary.records[i].situation %>
                                        <%= diary.records[i].emotions %>
                                        <%= diary.records[i].thoughts%>
                                        <%= diary.records[i].reactions %>
                                        <%= diary.records[i].behaiviour %>
                                    </span>                                  <div class="last-row">
                                        <i class="fas fa-trash del-records" id="<%=diary.records[i]._id%>"></i>
                                        <%= diary.records[i].displayDate %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>

                    <div class="record-space" id="stress-records" style="display: none;">
                        <div class="header">
                                <!-- <input type="text" placeholder="Type to filter records" id="filter"> -->
                                <button data-target='#stress-modal' data-toggle='modal'>Add Stressor</button>
                        </div>
                        <% for (let i=0; i<stressors.records.length; i++) { %>
                            <div class="each-record">
                                <span><%= user.name.charAt(0).toUpperCase() %></span>
                                <div class="record">
                                    <% if (stressors.records[i].situation != ''){ %>
                                        <h5>Situtation</h5>
                                        <p>
                                            <%= stressors.records[i].situation %>
                                        </p>
                                    <% } %>

                                    <% if (stressors.records[i].level != ''){ %>
                                        <h5> Stress level</h5>
                                        <p>
                                            <%= stressors.records[i].level %>
                                        </p>
                                    <% } %>

                                    <% if (stressors.records[i].response != ''){ %>
                                        <h5>Response</h5>
                                        <p>
                                            <%= stressors.records[i].response %>
                                        </p>
                                    <% } %>

                                    <% if (stressors.records[i].postResponse != ''){ %>
                                        <h5>Post response level</h5>
                                        <p>
                                            <%= stressors.records[i].postResponse %>
                                        </p>
                                    <% } %>
                                    <span style="display: none;">
                                        <%= stressors.records[i].situation %>
                                        <%= stressors.records[i].level %>
                                        <%= stressors.records[i].response%>
                                        <%= stressors.records[i].postResponse %>
                                    </span>                                  <div class="last-row">
                                        <i class="fas fa-trash del-stress" id="<%=stressors.records[i]._id%>"></i>
                                        <%= stressors.records[i].displayDate %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<div class="modal fade" id="record-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modalHeader">
            <i class="fa fa-smile"></i> Diary Entry
        </div>
        <div class="modal-body">
            <div class="section">
                <div class="question">
                    What's the situation like?
                </div>
                <div class="response">
                    <textarea id="situation" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    What are your thoughts?
                </div>
                <div class="response">
                    <textarea id="thoughts" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    What are your emotions?
                </div>
                <div class="response">
                    <textarea id="emotions" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    How is your reaction?
                </div>
                <div class="response">
                    <textarea id="reactions" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    How is your behaiviour?
                </div>
                <div class="response">
                    <textarea id="behaiviour" ></textarea>
                </div>
            </div>
        </div>
        <div class="modalFooter">
            <button class="cancel-btn" data-dismiss='modal'>Cancel</button>
            <button class="add-btn" id="add-diary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="stress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modalHeader">
            <i class="fa fa-frown"></i></i> Stressful Events
        </div>
        <div class="modal-body">
            <div class="section">
                <div class="question">
                    What was the stressful situation?
                </div>
                <div class="response">
                    <textarea id="stress-situation" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    What was the level of the stress? (On a scale of 1 to 10)
                </div>
                <div class="response">
                    <textarea id="stress-level" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    What was your response?
                </div>
                <div class="response">
                    <textarea id="stress-response" ></textarea>
                </div>
            </div>

            <div class="section">
                <div class="question">
                    What was the level of stress after the response? (Scale of 1 to 10)
                </div>
                <div class="response">
                    <textarea id="stress-post-reaction" ></textarea>
                </div>
            </div>
        </div>
        <div class="modalFooter">
            <button class="cancel-btn" data-dismiss='modal'>Cancel</button>
            <button class="add-btn" id="add-stress">Add</button>
        </div>
      </div>
    </div>
  </div>

<script>
    $('#edit-btn').click((e) => {
        location = '/users/update-profile'
    })
    $('.materialsRead button').click((e) => {
        location = '/users/single-material/' + e.target.name
    })
    $('.testsTaken button').click((e) => {
        location = '/app-admin/single-test/' + e.target.name
    })
    $('.del-records').click((e) => {
        console.log(e.target.id)
        location = '/users/profile/delete-record/'+e.target.id
    })
    $('.del-stress').click((e) => {
        console.log(e.target.id)
        location = '/users/profile/delete-stress/'+e.target.id
    })
    $('.upper-tab').click((e) => {
        if (e.target.id == 'diary') {
            $('.diary').show()
            $('.stressor').hide()
        } else if (e.target.id == 'stressor') {
            $('.stressor').show()
            $('.diary').hide()
        }
    })
    $('.tab').click((e) => {
        const eachInfo = $('.each-info')
        for (i = 0; i < eachInfo.length; i++) {
            $(eachInfo[i]).hide()
        }
        const eachTabs = $('.tab')
        for (let i = 0; i < eachTabs.length; i++) {
            $(eachTabs[i]).removeClass('active')
        }
        const id = '#info-' + e.target.id
        $(id).show()
        $(e.target).addClass('active')
    })

    $('#diary-sub-tab').click(e => {
        $('#diary-records').show()
        $('#stress-records').hide()
        $('.active').removeClass('active')
        $(e.target).addClass('active')
    })

    $('#stress-sub-tab').click(e => {
        $('#stress-records').show()
        $('#diary-records').hide()
        $('.active').removeClass('active')
        $(e.target).addClass('active')
    })

    $('#filter').on('keyup', (e) => {
        const text = e.target.value.toLowerCase()
        const recordArr = $('.record span')
        // console.log('hi')
        for (let i=0; i<recordArr.length; i++) {
            const recVal = $(recordArr[i]).html().toLocaleLowerCase()
            if (!recVal.includes(text)) {
                $(recordArr[i].parentElement.parentElement).hide()
            }
        }
    })

    $('#add-dairy').click((e) => {
        const situation = $('#situation').val()
        const emotions = $('#emotions').val()
        const thoughts = $('#thoughts').val()
        const reactions = $('#reactions').val()
        const behaiviour = $('#behaiviour').val()

        const data = {
            situation,
            emotions,
            thoughts,
            reactions,
            behaiviour
        }
        console.log(data)
        $.ajax({
            type: 'POST',
            url: '/users/profile/add-record',
            data,
            success: (data) => {
                location = '/users/profile'
            }
        })
    })

    $('#add-stress').click((e) => {
        const sSituation = $('#stress-situation').val()
        const sLevel = $('#stress-level').val()
        const sResonse = $('#stress-response').val()
        const postResponse = $('#stress-post-reaction').val()

        const sData = {
            situation: sSituation,
            level: sLevel,
            response: sResonse,
            postResponse
        }

        console.log(sData)
        $.ajax({
            type: 'POST',
            url: '/users/profile/add-stress',
            data: sData,
            success: (data) => {
                location = '/users/profile'
            }
        })
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    const id = $('#id').val()
    $.get(`/users/materials/getScores/${id}`, data => {
        if (data.scores.length == 0) {
            $('.tip').html(`You've not practised any materials in the last seven days.`)
        } else {
            var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Today', 'Yesterday', '3rd', '4th', '5th', '6th', '7th'],
            datasets: [
            {
                label: 'Scores',
                data: data.scores,
                backgroundColor: [
                    'rgba(32, 178, 170, 0.2)',
                ],
                borderColor: [
                    'rgba(32, 178, 170, 1)',
                ],
                borderWidth: 1
            }
        ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
        }
        
    })
    
    </script>

</html>