<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= posts.title %> - badBlogger</title>
</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link href="/css/prism_light.css" rel="stylesheet" />
  <link href="/css/readmore.css" rel="stylesheet" />
  <link href="/css/autocomplete.css" rel="stylesheet" />


  <div class="entire-page">
    <div class="left">
      <!-- <a href="#"> <img class="user-img" src="https://robohash.org/<%=posts.author_id%>" alt=""> </a>
      <div class="name">

        <h2><%= posts.author %></h2>
      </div>
      <div class="username">
        <input type="hidden" id="post_id" value="<%= posts._id %>">
        <p><%= posts.author_username %></p>
      </div>
      <hr>
      <button type="button" id="savepost" class="btn btn-outline-info">Save Post</button>
      <hr>
      <div class="view-show">
        <i class="fas fa-eye"></i> Views <%= posts.view %>
      </div>
      <hr>
      <div class="upvote-show">
        <i class="far fa-thumbs-up"></i> Upvotes <%= posts.upvote %>
      </div>
      <hr>
      <div class="comment-show">
        <i class="far fa-comment"></i> Comments <%= posts.comment %>
      </div>
      <div class="contents">
        <p>Contents</p>
      </div>
      <div class="iconRow">
        <i title="Contains multilayered texts" class="fas fa-align-left"></i>
        <i title="Contains code segments" id="code" class="fas fa-code"></i>
        <i class="fas fa-file-contract"></i>
      </div>
      <div class="contents">
        <p>Tags</p>
      </div>
      <div class="tag-area">

      </div> -->
    </div>

    <div class="mid">

      <div id="snackbar">Copied to clipboard</div>


      <section class="allPost">
        <div class="eachPost">
          <div class="firstRow">
            <div class="title">
              <h1><b> <%= posts.title %></b> </h1>
            </div>
            <button type="button" id="savepost" class="btn btn-outline-info">Save Post</button>
          </div>
          <div class="dateRow">
            <p><%= posts.date %></p>
            <p> <strong> · Views <%= posts.view %></strong> </p>
          </div>

          <div class="tags">
              <%
            for(var i=0; i<posts.tags.length; i++){ %>
              <% if (posts.tags[i] != 'none'){ %>
              <div class="tag-word">
                <p><a href="#"><%= posts.tags[i] %></a></p>
              </div>
              <% } %>
              <%}
          %>
            </div>

          <div class="secondRow">
            <% if (posts.type == 'simple'){ %>
            <p><%= posts.body %></p>
            <% } %>
            <% if (posts.type == 'complex'){ %>
            <p><%- posts.body %></p>
            <% } %>
            <% if (posts.type == null){ %>
            <p><%= posts.body %></p>
            <% } %> </div>

          <hr>

          <a href="#">
            <div class="user-section">
              <div class="img">
                <img src="https://robohash.org/<%=posts.author_id%>" id="user_img" alt="">
              </div>
              <div class="non_img">
                <p class="name"><strong><%= posts.author %> </strong> </p>
                <p class="username"><%= posts.author_username %></p>
              </div>
            </div>
          </a>

          <hr>

          <div class="thirdRow" onload="onloadFunc()">
            <div class="upvotes">
              <a href="/users/upvote/<%= posts._id %>/<%= posts.title %>/<%= posts.author_id %>/<%= posts.author_username %>"
                name="upvote-btn" id="<%= posts._id %>"><button type="button" class="btn btn-info" id="upvote-btn"><i
                    class="far fa-thumbs-up"></i> Upvote <strong> <%= posts.upvote %> </strong></button></a>
            </div>
            <div class="comments">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalComment"
                id="add-comment-btn"><i class="far fa-comment"></i> Add
                Comment <strong> <%= posts.comment %></strong></button>
            </div>

          </div>
        </div>
      </section>
      <div class="comment-heading">
        <h4>Comments</h4>
        <hr>
      </div>

      <% comments.forEach(function(comments){ %>
      <section class="all-comments">
        <div class="each-comment">
          <div class="comment-firstRow">
            <div class="comment-author">
              <div class="auth-img">
                <a href="#"> <img class="img" src="https://robohash.org/<%=comments.commentedBy%>"> </a>
              </div>
              <div class="author-date">
                <p><strong> <%= comments.commentedBy_Username %> </strong></p>
                <p class="date"><%= comments.date %></p>
              </div>
              <hr>
            </div>
          </div>
          <div class="comment-secondRow">
            <p><%= comments.body %></p>

            <div class="tags">
              <%
            for(var i=0; i<comments.mentionedUsers.length; i++){ %>
              <% if (comments.mentionedUsers[i] != 'none'){ %>
              <div class="tag-word">
                <p><a href="#"><%= comments.mentionedUsers[i] %></a></p>
              </div>
              <% } %>
              <%}
          %>
            </div>

          </div>
          <hr>
      </section>
      <% }) %>
    </div>

    <div class="right">
      <div class="related-posts">
        <p class="header">Related Topics</p>
        <p class="topic"> <a href="#"> <span class="badge badge-pill badge-info">377</span> I'm gonna destroy this guy's
            entire carrier today!</a></p>
        <p class="topic"> <a href="#"> <span class="badge badge-pill badge-info">303</span> Do hell, nigga!</a></p>
        <p class="topic"> <a href="#"> <span class="badge badge-pill badge-info">211</span> Yo homieZ! LetZ have a
            ride..</a></p>
        <p class="topic"> <a href="#"> <span class="badge badge-pill badge-info">189</span> See ma flex bro!</a></p>
        <p class="topic"> <a href="#"> <span class="badge badge-pill badge-info">155</span> Gonna be dancin' off some
            cops to night!</a></p>
      </div>
    </div>
  </div>
  <!-- -------------------------------------------------Search user modal --------------------------------------- -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" id="modal-fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Search User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="autocomplete">
            <input type="text" class="form-control" id="auto" placeholder="Recipient's username"
              aria-label="Enter the name" aria-describedby="basic-addon2">
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong"
              data-dismiss="modal" type="button">Search</button>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- ------------------------------ Comment Box ------------------------------------------------ -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModalComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/users/postcomment" method="POST">
          <input type="hidden" name="postID" value="<%=posts._id%>" id="UserPostID">
          <input type="hidden" name="postTitle" value="<%=posts.title%>" id="UserPostID">
          <input type="hidden" name="receiver_id" value="<%=posts.author_id%>" id="UserPostID">
          <input type="hidden" name="mentioned" id="mentioned" value="none">
          <div class="modal-body">
            <div class="upper-body">
              <input type="text" name="commentBody" id="comment-input" value="">
            </div>
            <div class="lower-body" id="lower-body">
              <input type="text" name="" placeholder="Mention user.." id="mention-input">
              <a href="#" onclick="mentionUser()" id="add-user-btn"> <i class="fas fa-user-plus"></i> </a>
            </div>
          </div>
          <div class="user-space">
            <p id="mentioned-users"> </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="cancel()" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- -------------------------------------------------Search user modal --------------------------------------- -->

  <script src="/js/prism_dark.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.2.2/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Clipboard.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
  <script type="text/javascript">

    function toast() {
      var x = document.getElementById("snackbar");
      x.className = "show";
      setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }

    var pre = document.getElementsByTagName('pre');
    for (var i = 0; i < pre.length; i++) {
      var isLanguage = pre[i].children[0].className.indexOf('language-');
      if (isLanguage === 0) {
        var button = document.createElement('button');
        button.className = 'copy-button';
        button.textContent = 'Copy';

        pre[i].appendChild(button);
      }
    }
    var copyCode = new Clipboard('.copy-button', {
      target: function (trigger) {
        toast();
        return trigger.previousElementSibling;
      }
    });

    document.getElementById('mentioned').value = 'none';
    function mentionUser() {
      console.log('add btn');
      let username = document.getElementById('mention-input').value;
      let userNode = document.createElement('a');
      userNode.innerHTML = username;
      userNode.href = "#";
      userNode.title = username + "@mail.com";
      document.getElementById('mentioned-users').appendChild(userNode);

      if (document.getElementById('mentioned').value == 'none') {
        document.getElementById('mentioned').value = username;
        console.log('1st : ', document.getElementById('mentioned').value);
      }

      else {
        document.getElementById('mentioned').value = document.getElementById('mentioned').value + "#" + username;
        console.log('apppended : ', document.getElementById('mentioned').value);
      }
      document.getElementById('mention-input').value = '';
    }

    function cancel() {
      document.getElementById('mentioned-users').innerHTML = '';
      document.getElementById('mentioned').value = 'none';
    }

    // document.querySelector("#post-btn-submit").addEventListener('click', (e) => {
    //     document.getElementById('mentioned').value = 'none';
    //     const userID = document.querySelector("#UserPostID").value;
    //     window.location = "/users/comment/" + userID;
    //   });

    document.querySelector("#savepost").addEventListener('click', (e) => {
      const post_id = document.getElementById('post_id').value;
      window.location = "/users/save_post/" + post_id;
      console.log('save_post() : ', post_id);
    });

  </script>
</body>

</html>