<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/singleTest.css">
    <title><%= data.title %></title>
</head>

<body>
    <input type="hidden" value="<%= data._id %>" id="id">
    <input type="hidden" value="<%= data.title %>" id="name">
    <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="top-color">
                <div class="heading">
                    <p>
                        <%= data.title %> <br>
                            <% if (user.userType == 'admin') { %>
                                    <button class="edit" id="<%= data._id %>">Update</button>
                                    <button class="delete" id="<%= data._id %>">Delete</button>
                                <% } %>
                    </p>
                </div>
            </div>
            <div class="card-space">
                <div class="card">
                    <div class="upper yellow">
                        <div class="image">
                            <img src="https://static.neris-assets.com/images/test-header-1.svg" alt="">
                        </div>
                    </div>
                    <div class="lower">
                        <div class="big-text">
                            <p>Fast</p>
                        </div>
                        <div class="small-text">
                            <p>Takes only a couple of minutes</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="upper blue">
                        <div class="image">
                            <img src="https://static.neris-assets.com/images/test-header-2.svg" alt="">
                        </div>
                    </div>
                    <div class="lower">
                        <div class="big-text">
                            <p>Be Yourself</p>
                        </div>
                        <div class="small-text">
                            <p>Keep it honest. It's between us</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="upper pink">
                        <div class="image">
                            <img src="https://static.neris-assets.com/images/test-header-3.svg" alt="">
                        </div>
                    </div>
                    <div class="lower">
                        <div class="big-text">
                            <p>Answer All</p>
                        </div>
                        <div class="small-text">
                            <p>Do not skip any questions and dont leave anything neutral</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="aboutWrapper">
                <div class="specifier">About this test</div>
                
                <p>
                    <%= data.about %>
                </p>
            </div>
            <div class="questionSpace">
                <p>Lets begin</p>
                <div class="slide-container">
                    <span class="bar"><span class="fill"></span></span>
                    <input type="range" disabled id="slider">
                    <p id="comp-percent">0%</p>
                </div>
                <% for (let i=0; i<data.questionSet.length; i++) { %>
                    <div class="question-box">
                        <div class="question">
                            <p>
                                <%= i+1 %>.
                                    <%= data.questionSet[i].question %>
                            </p>
                        </div>
                        <div class="response-area">
                            <% if (data.questionSet[i].inputType == "ranger") { %>
                                <div class="ranger-area">
                                    <div class="ranger-input-area">
                                        <div>
                                            <%= data.questionSet[i].ranger.min %>
                                        </div>
                                        <div class="slide-container response">
                                            <span class="bar"><span class="fill"></span></span>
                                            <input type="range" style="cursor: pointer;" min="0" max="100" value="0" id="slider">
                                        </div>
                                        <div>
                                            <%= data.questionSet[i].ranger.max %>
                                        </div>
                                    </div>
                                    <div class="applies">
                                        <p>Applies</p>
                                    </div>
                                </div>
                                <% } %>
                                    <% if (data.questionSet[i].inputType == "radio") { %>
                                        <% for (let j=0; j<data.questionSet[i].Options.length; j = j + 2) { %>
                                            <div class="two-options">
                                                <% if (data.questionSet[i].Options[j]) { %>
                                                    <div class="one-option">
                                                        <input type="radio" value="<%= data.questionSet[i].Options[j].scale %>" name="<%= data.questionSet[i].question %>" id="op<%=j%>">
                                                        <label for="op<%=j%>">
                                                            <%= data.questionSet[i].Options[j].option %>
                                                        </label>
                                                    </div>
                                                    <% } %>

                                                        <% if (data.questionSet[i].Options[j+1]) { %>
                                                            <div class="one-option">
                                                                <input type="radio" value="<%= data.questionSet[i].Options[j+1].scale %>" name="<%= data.questionSet[i].question %>" id="op<%=j+1%>">
                                                                <label for="op<%=j+1%>">
                                                                <%= data.questionSet[i].Options[j+1].option %>
                                                            </label>
                                                            </div>
                                                            <% } %>

                                            </div>
                                            <% } %>
                                                <% } %>
                                                    <div class="navigation">
                                                        <div class="prev">
                                                            <button class="pre">Previous</button>
                                                        </div>
                                                        <div class="next">
                                                            <button class="nx">Next</button>
                                                        </div>
                                                    </div>
                        </div>

                    </div>
                    <% } %>

            </div>
            <div class="compute-btn">
                <div class="alert alert-danger" style="display: none;"></div>

                <p>The test is complete. Click here to view results.</p>
            </div>
            <div class="related">
                <div class="heading">
                    <p>You might also take</p>
                </div>
                <div class="card-space">
                    <% for (let i=0; i<related.length; i++) { %>
                        <div class="card">
                            <div class="image">
                                <img src="<%= related[i].thumbnail %>" alt="">
                            </div>
                            <div class="texts">
                                <div class="title">
                                    <p><%= related[i].title %></p>
                                </div>
                                <div class="category">
                                    <p><%= related[i].category %></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>

        <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="image">
                            <img src="https://i.pinimg.com/originals/19/46/09/194609cf8b314908f7274d5b220d76ba.gif" alt="">
                        </div>
                        <div class="score">
                            <p>The status of your mental health is</p>
                            <p><strong id="health-status" style="color: lightseagreen; font-size: 20px;"></strong></p>
                            <p class="msg">Your score is </p>
                            <p class="number"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

<script>
    const questions = $('.question-box')
    for (let i = 0; i < questions.length; i++) {
        $(questions[i]).hide()
    }
    $(questions[0]).show()

    let current = 0
    $('#slider').val(current)
    $('.nx').click((e) => {
        if (current + 1 != questions.length) {
            $(questions[current]).hide()
            current += 1
            $(questions[current]).show()
            let comp = (current / questions.length) * 100
            comp = Math.round(comp)
            $('#slider').val(comp)
            $('#comp-percent').html(comp + '%')
        } else {
            $('.compute-btn').show()
            $('#slider').val(100)
            $('#comp-percent').html('100' + '%')
        }

    })
    $('.pre').click((e) => {
        if (current != 0) {
            $(questions[current]).hide()
            current -= 1
            $(questions[current]).show()
            let comp = (current / questions.length) * 100
            comp = Math.round(comp)
            $('#slider').val(comp)
            $('#comp-percent').html(comp + '%')
        }
    })
    $('.response-area #slider').change((e) => {
        $(e.target.parentElement.parentElement.parentElement).find('.applies p').html('Applies ' + $(e.target).val() + ' %')
    })

    $('.compute-btn').click((e) => {
        const id = $('#id').val()
        $('.compute-btn p').html('Computing...')
        $.ajax({
            type: 'GET',
            url: '/app-admin/get-question/' + id,
            success: data => {
                // console.log(data)
                const result = compute(data)
                console.log(result.score)
                const name = $('#name').val()
                const id = $('#id').val()
                const test = {
                    score: result.score,
                    id,
                    name,
                    device: 'web',
                }
                console.log(test)
                $.ajax({
                    type: 'POST',
                    url: '/app-admin/test/new',
                    data: test,
                    success: data => {
                        if (data.status) {
                            console.log('posted')
                            $('#result-modal').modal('show')
                            $('#health-status').html(result.stage)
                            $('.number').html(result.score)
                            $('.compute-btn p').html('Computed')
                        } else {
                            $('.alert-danger').show()
                            $('.alert-danger').html(`<p>${data.msg}</p>`)
                            $('html, body').animate({
                                scrollTop: 0
                            }, 'slow')
                        }
                    }
                })
            }
        })
    })
    const check = (data) => {
        return data == NaN || data == null || data == undefined || isNaN(data)
    }
    const compute = (data) => {
        let totalScore = 0
        let achievedScore = 0
        for (let i = 0; i < data.questionSet.length; i++) {
            const name = data.questionSet[i].question
            const qScale = data.questionSet[i].scale
            if (data.questionSet[i].inputType == 'radio') {
                const opScale = parseInt($(`input[name="${name}"]:checked`).val())
                if (check(opScale)) {

                    return ({
                        status: false,
                        score: i + 1
                    })
                }
                achievedScore += qScale * opScale
            } else if (data.questionSet[i].inputType == 'ranger') {
                const opScale = parseInt($(questions[i]).find('input[type="range"]').val())
                if (check(opScale)) {
                    return ({
                        status: false,
                        score: i + 1
                    })
                }
                achievedScore += qScale * opScale
            }

        }
        const stage = getStage(data.stages, achievedScore)
        console.log(stage)
        return ({
            status: false,
            score: achievedScore,
            stage
        })
    }

    const getStage = (stages, score) => {
        console.log(score)
        let low = 0, high
        for (let i=0; i<stages.length; i++) {
            high = parseInt(stages[i].score)
            if (score >= low && score <= high){
                return stages[i].name
            } else {
                low = high+1
            }
        }
    }

    $('.edit').click((e) => {
        location = '/app-admin/edit-test/' + e.target.id
    })

    $('.delete').click((e) => {
        location = '/app-admin/delete-test/' + e.target.id
    })
</script>

</html>